<div class="col-md-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <a href="{% url 'catalog:view_product' object.pk %}">
                <h4 class="card-title text-primary">{{ object.name }}</h4>
            </a>
            <h6 class="card-subtitle mb-2 text-muted">{{ object.category }}</h6>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{ object.description|truncatechars:100 }}</li>
                <li>{% if version.is_active %}
                <li> Версия: {{ version.name }}</li>
                <li> Номер версии: {{ version.number }}</li>
                {% endif %}
            </ul>
            {% if perms.catalog.view_product %}
            <a href="{% url 'catalog:view_product' object.pk %}" type="button"
               class="btn btn-sm btn-block btn-outline-primary">Подробнее</a>
            {% endif %}
            {% if perms.catalog.set_published %}
            <a href="{% url 'catalog:update_product' object.pk %}" type="button"
               class="btn btn-sm btn-block btn-outline-primary">Изменить</a>
            {% endif %}
<!--            <a href="#" type="button"-->
<!--               class="btn btn-sm btn-block btn-outline-secondary">Изменить</a>-->
        </div>
    </div>
</div>