{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    {% if object %}
                    Редактирование
                    {% else %}
                    Добавление товара
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
        {% if object %}
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Версия
                    </div>
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                        {% for form in formset.forms %}
                            {{ form.as_p }}
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}